# FastAPI & server
fastapi
uvicorn[standard]
python-multipart

# Kafka
confluent-kafka
kafka-python

# Env config
python-dotenv

# AWS S3
boto3

# Postgres & ORM
sqlalchemy
psycopg2-binary
alembic

opencv-python              # OpenCV, hỗ trợ đọc video stream
opencv-python-headless     # Nếu chạy trên server/headless
numpy                      # Xử lý toạ độ và data AI
pandas
ultralytics

#-e ./third_party/yolov5
#git clone https://github.com/ultralytics/yolov5.git

# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

#how to run
#uvicorn ScoreLens_FastApi.main:app --reload --port 8012
## "cameraUrl": "https://scorelens.s3.ap-southeast-2.amazonaws.com/video/output.mp4",


#Check GPU
#python -c "import torch; print('PyTorch version:', torch.__version__); print('CUDA available:', torch.cuda.is_available()); print('GPU name:', torch.cuda.get_device_name(0) if torch.cuda.is_available() else 'N/A')"





#alembic init alembic

#khi có model mới hoặc sửa model
#set PYTHONPATH=.
#alembic revision --autogenerate -m "create balls table"

#tạo db
#alembic upgrade head

